:root {
  --accent-color: #fed136;
  --main-color: rgb(255, 255, 255);
  --text-color: #757575;
}
body {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--text-color);
  font-family: 'Roboto Slab', serif;
}
.container{
    width: 1200px;
    padding: 0 15px;
    outline: 2px dashed red;
    margin: 0 auto;
 }
 .flex{
display: flex;
 }
 .header{
  padding-top: 44px;
  margin-bottom: 109px;
 }
 .logo{
  font-family: 'Bilbo Swash Caps', serif;
  font-weight: 400;
  text-decoration: none;
  color:var(--accent-color);
  font-size: 36px;
 }
 a {
  text-decoration: none;
  font-family: 'Montserrat', serif;
 }
 ul{
  list-style-type: none;
 }
 .header-nav-list{
  gap: 10px;
 }
 .header-nav-list-item{
  color: var(--accent-color);
 }
 .services{
  margin-bottom: 119px;
 }
 .services-list-item::before{
  content: "";
 }
 .services-list{
  gap: 56px;
  justify-content: center;
 }
 .services-title{
  font-weight: 700;
font-size: 40px;
line-height: 187%;
letter-spacing: -0.03em;
text-transform: uppercase;
text-align: center;
color: #222222;
font-family: 'Montserrat', serif;
 }
 .services-list-title{
  font-family: 'Montserrat', serif;
  font-weight: 700;
font-size: 18px;
line-height: 417%;
text-align: center;
color: #222222;
 }
.background{
  background-color: black;
}
.section-contact_us{
}
 