:root {
  --accent-color: #fed136;
  --main-color: rgb(255, 255, 255);
  --text-color: #757575;
}
body {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--text-color);
  font-family: 'Roboto Slab', serif;
}
.container{
    width: 1200px;
    padding: 0 15px;
    outline: 2px dashed red;
    margin: 0 auto;
 }
 .logo{
  font-family: 'Bilbo Swash Caps', serif;
  font-weight: 400;
  text-decoration: none;
  color:var(--accent-color);
  font-size: 36px;
 }
 a {
  text-decoration: none;
  font-family: 'Montserrat', serif;
 }
 .header-nav-list{
  color: var(--accent-color);
 }
.section-contact_us-title{
  background-color: #222;
}
 